
.main{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.topsection{
    display: flex;
    justify-content: space-evenly;
    
}

 

.startplan{
    height: 35px;
    margin-top: 40px;
    border: none;
    background-color: rgb(233, 62, 90);
    color: white;
}
.maindiv{
 padding: 10px;
 display: flex;
 justify-content: space-around;
 margin-bottom: 5px;
}

 .link{
    text-decoration: none;
    color: red;
    font-size: 20px;
}